@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

$color-main: #f68657;
$color-text: #d6d1d1;
$color-bg: #1f2124;
$color-white: #2e3235;
$color-lighter: #292a2c;
$color-dark: #f5f6f7;
$color-grey: #999;
$color-border: #252629;
$color-light: #acb4bd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}

body {
    line-height: 1.8em;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    color: $color-text;
    background-color: $color-bg;
    display: flex;
    align-items: center;
}

.app {
    width: 100%;
    max-width: 480px;
    height: 88vh;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    background-color: $color-lighter;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 30px;
        color: $color-dark;
        font-weight: 800;
        text-align: center;
    }

    button {
        border: 0;
        background: transparent;
        cursor: pointer;

        svg {
            fill: #1f2124;
            height: 25px;
            width: 25px;
            object-fit: cover;
        }
    }
}



// Notes Styles 

.notes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
}

.notes-title,
.notes-count {
    color: $color-main;
    font-size: 24px;
    font-weight: 600;
}

.notes-count {
    font-size: 18px;
    color: $color-grey;
}

.notes-list {
    padding: 0;
    margin: 16px 0;
    height: 67vh;
    overflow-y: auto;
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.notes-list-item {
    border-bottom: 1px solid $color-border;
    margin-bottom: 12px;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $color-bg;
        cursor: pointer;
    }

    h3,
    p,
    span {
        font-weight: 600;
    }

    p,
    span {
        color: $color-grey;
        display: inline-block;
        margin-right: 8px;
    }

    p {
        font-size: 14px;
        color: $color-grey;
    }
}


// Note Styles 
.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-main;
    padding: 10px;

    h3 {
        display: flex;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
    }

    h3,
    svg {
        fill: $color-main;
        width: 20px;
        margin-right: 8px;
    }

    button {
        border: none;
        outline: none;
        font-weight: 600;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;
    }
}

.note {
    textarea {
        background-color: $color-white;
        border: none;
        padding: 16px 12px;
        width: 100%;
        height: 70vh;
        resize: none;
        scrollbar-width: none;
        /* Firefox */

        &:active,
        &:focus {
            outline: none;
            border: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}